:root {
  --white: #fff;
  --primary-500: #3f83f8;
  --primary-600: #1c64f2;
  --primary-700: #1a56db;
  --gray-400: #9ca3af;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2a37;
  --gray-900: #111928;
}

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  color: var(--white);
  background: var(--gray-900);
  display: flex;
  font-size: 16px;
  gap: 16px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}

body {
  justify-content: center;
  box-sizing: inherit;
}

.navbar {
  display: flex;
  padding-top: 24px;
  justify-content: center;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  padding-left: 96px;
  font-weight: 600;
  line-height: 150%;
}
.navbarElements {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 10px;
  flex: 1 0 0;
}

.navbar > .text {
  text-align: center;
  font-weight: 500;
  line-height: 150%;
}

.navbarLogin {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 96px;
}

.toggleMenu {
  display: none;
}

.hiro {
  display: flex;
  padding: 96px 0px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
}

.hiro > .leftContent {
  display: flex;
  max-width: 576px;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
}

.hiro > .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.supporting {
  color: var(--gray-400);
  font-size: 1.2em;
  font-weight: 400;
  line-height: 150%;
  gap: 24px;
}

.carousel {
  display: flex;
  padding: 3em 3em 5em 5em;
  justify-content: center;
  align-items: center;
}

.hiroButtons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

button {
  max-width: 182px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.btnLight {
  background: var(--primary-700);
  color: var(--white);
}

.btnDark {
  border: 1px solid var(--gray-600);
  background: var(--gray-800);
  color: var(--gray-400);
  gap: 3em;
}

.sponsors {
  padding-top: 8px;
  gap: 12px;
  align-self: stretch;
}

.sponsorLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.socialProof {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-700);
  background: var(--gray-800);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.socialProofPadding {
  padding: 0px 16px 32px 0px;
}

.socialProofElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialProofElement_title {
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
}

.socialProofElement_description {
  color: var(--gray-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.containerCTA {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.containerMockup {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
}

.rowMockup {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.rowMockup img {
  width: 100%;
}

.containerCard {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 320px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;
}

.rowElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.visitWebsite {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--gray-800);
  border: 1px solid var(--gray-600);
}
.visitWebsite img {
  width: 16px;
  height: 16px;
}

.visitWebsite a {
  color: var(--gray-400);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
}

.rightContent {
  display: flex;
  max-width: 640px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.costumerLogos {
  display: flex;
  padding: 3em;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  border-top: 1px solid var(--gray-700);
  border-bottom: 1px solid var(--gray-700);
  background: var(--gray-800);
}

.costumerLogos .container {
  padding-left: 20%;
}

.headingDesc {
  display: flex;
  align-items: center;
  max-width: 676px;
  gap: 16px;
  flex-direction: column;
}

.heading {
  color: var(--white);
  align-self: stretch;
  margin: 0;
  font-size: 36px;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: -0.36px;
}

.supportingText {
  color: var(--gray-400);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 640px;
  gap: 24px;
  flex-shrink: 0;
}

.description {
  color: var(--primary-500);
  text-align: center;
  font-weight: 500;
  line-height: 150%;
}

.description img {
  width: 16px;
  height: 16px;
}

.CTA {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 96px 0px;
  flex-direction: column;
}

.CTA .container {
  display: flex;
  width: 100%;
  gap: 32px;
  align-items: center;
  flex-direction: column;
}

.cards {
  display: flex;
  gap: 48px;
  max-width: 1280px;
  justify-content: space-between;
}

.cardElement {
  display: flex;
  padding: 32px;
  gap: 16px;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border: 1px solid var(--gray-700);
  background: var(--gray-800);
}

.cardElement img {
  width: 100%;
}

.btnDark img {
  width: 15px;
  height: 15px;
}

.headingCTA {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
}

.sumCTA {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.leftTextCTA {
  color: var(--gray-400);
  display: flex;
  align-items: center;
  gap: 8px;
}

.leftTextCTA h5 {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

.leftTextCTA span {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.rightTextCTA {
  color: var(--gray-400);
  text-align: right;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 150%;
}

.rightTextCTA span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.progress {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background: var(--gray-700);
}

.progressInside1 {
  width: 84%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--primary-600);
}

.progressInside2 {
  width: 51%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--primary-600);
}

.blog {
  display: flex;
  max-width: 1440px;
  padding: 96px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--gray-700);
  border-bottom: 1px solid var(--gray-700);
  background: var(--gray-800);
}

.section-blog {
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  background: var(--bcg-light_gray);
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto 32px auto;
}

.blog-title {
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
  line-height: 125%;
}

.blog-description {
  color: var(--gray-400);
  text-align: center;
  font-weight: 400;
  line-height: 150%;
}

.blog-column {
  display: flex;
}

.blogContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.rowContainer {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.blogColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto 32px auto;
}

.blogColumnElement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 0 0;
}

.blogColumnElement_right {
  padding-right: 32px;
}

.titleBlog {
  color: var(--white);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 175%;
}

.previewBlog {
  color: var(--gray-400);
  font-size: 1em;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

td {
  padding: 1em;
  max-width: 400px;
}

.contact {
  display: flex;
  width: 100%;
  padding: 32px 16px;
  flex-direction: column;
  align-items: center;
  background: var(--gray-900);
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.contactForm {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: var(--white);
}

.contactLabel {
  color: var(--white);
  font-size: 0.9em;
  font-weight: 500;
  line-height: 150%;
}

.contactInput {
  display: flex;
  padding: 8px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-600);
  background: var(--gray-700);
}

.footer {
  padding: 32px 16px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
}

.footerElement {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footerElement_text {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 400;
  line-height: 150%;
  list-style: none;
}

.footerColumnLink {
  color: var(--gray-400);
  text-decoration: none;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

@media only screen and (max-width: 479px) {
  html {
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
  }

  body {
    width: 100%;
    margin-left: 10;
    margin-right: auto;
  }

  .navbarElements {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 64px;
    align-self: stretch;
  }

  .navbarLogin {
    display: none;
  }

  h1 .heading {
    max-width: 480px;
    margin: 0 auto;
    gap: 10px;
  }

  .leftContent {
    max-width: 480px;
    margin: 0 auto;
  }

  .socialProof {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
  }

  .containerCTA > .row img {
    display: none;
  }

  .toggleMenu img {
    display: flex;
    align-items: right;
    max-width: 480px;
  }

  .hiro {
    max-width: 480px;
    margin: 0 auto;
  }

  .hiroButtons {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hiro .leftContent {
    max-width: 480px;
    margin: 0 auto;
  }

  .hiro .heading {
    font-size: 3em;
    line-height: 30px;
  }

  .socialProof {
    max-width: 480px;
    margin: 0 auto;
    gap: 2em;
  }

  .CTA {
    display: flex;
    width: 100%;
    padding: 0;
  }

  .CTA .container {
    display: flex;
    max-width: 375px;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .sumCTA {
    flex-direction: column;
  }

  .rowMockup {
    max-width: 480px;
    padding: 0px 16px 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 320px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
  }

  .rightContent {
    max-width: 480px;
    margin: 0 auto;
  }

  .cards > .row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 24px;
    justify-content: space-between;
  }

  .CTA {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
  }

  .CTA .container {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .rightTextCTA {
    color: var(--gray-400);
    text-align: right;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 150%;
  }

  .cards {
    max-width: 480px;
    margin: 0 auto;
    display: grid;
  }

  .blogContainer {
    display: none;
  }

  .contactContainer {
    max-width: 480px;
    margin: 0 auto;
  }

  .contactForm {
    max-width: 480px;
    margin: 0 auto;
  }

  .footer {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  html {
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
  }

  .navbarElements {
    display: none;
  }

  .navbarLogin {
    display: none;
  }

  h1 .heading {
    max-width: 1024px;
    margin: 0 auto;
    gap: 10px;
  }

  .leftContent {
    max-width: 1024px;
    margin: 0 auto;
  }

  .socialProof {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
  }

  .containerCTA > .row img {
    display: none;
  }

  .toggleMenu img {
    display: flex;
    align-items: right;
    max-width: 1024px;
  }

  .hiro {
    max-width: 1024px;
    margin: 0 auto;
  }

  .hiroButtons {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hiro .leftContent {
    max-width: 1024px;
    margin: 0 auto;
  }

  .hiro .heading {
    font-size: 3em;
    line-height: 30px;
  }

  .socialProof {
    max-width: 1024px;
    margin: 0 auto;
    gap: 2em;
  }

  .CTA {
    padding: 96px 20px;
  }

  .CTA .cards {
    flex-wrap: wrap;
  }

  .rowMockup {
    max-width: 1024px;
    padding: 0px 16px 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .row {
    max-width: 1024px;
    flex-direction: row;
  }

  .rightContent {
    max-width: 1024px;
    margin: 0 auto;
  }

  .cards > .row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 24px;
    justify-content: space-between;
  }

  .CTA {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
  }

  .CTA .container {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .rightTextCTA {
    color: var(--gray-400);
    text-align: right;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 150%;
  }

  .cards {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
  }

  .contactContainer {
    max-width: 1024px;
    margin: 0 auto;
  }

  .contactForm {
    max-width: 1024px;
    margin: 0 auto;
  }

  .footer {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
  }
}
