:root {
  --white: #fff;
  --primary-500: #3f83f8;
  --primary-700: #1a56db;
  --gray-400: #9ca3af;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2a37;
  --gray-900: #111928;
}

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  color: var(--white);
  background: var(--gray-900);
  display: flex;
  max-width: 1920px;
  font-size: 16px;
  gap: 16px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}

.navbar {
  display: flex;
  padding-top: 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0% 8%;
}

.navbarElements {
  display: flex;
  width: 1280px;
  align-items: center;
  padding-left: 5%;
  gap: 4em;
}

.navbar > .text {
  text-align: center;
  font-weight: 500;
  line-height: 150%;
}

.navbarLogin {
  display: flex;
  align-items: center;
  gap: 1em;
}

.toggleMenu {
  display: none;
}

.hiro {
  display: flex;
  width: 1440px;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
}

.container {
  display: flex;
  align-items: center;
}

.hiro > .leftContent {
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
  padding: 8px;
}

.hiro > .heading {
  font-size: 3em;
  font-weight: 800;
  line-height: 100%;
}

.supporting {
  color: var(--gray-400);
  font-size: 1.2em;
  font-weight: 400;
  line-height: 150%;
  gap: 24px;
}

.carousel {
  display: flex;
  padding: 3em 3em 5em 5em;
  justify-content: center;
  align-items: center;
}

.hiroButtons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

button {
  width: 182px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.btnLight {
  background: var(--primary-700);
  color: var(--white);
}

.btnDark {
  border: 1px solid var(--gray-600);
  background: var(--gray-800);
  color: var(--gray-400);
  gap: 3em;
}

.sponsors {
  padding-top: 8px;
  gap: 12px;
  align-self: stretch;
}

.sponsorLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.socialProof {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-700);
  background: var(--gray-800);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.socialProofPadding {
  padding: 0px 16px 32px 0px;
}

.socialProofElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialProofElement_title {
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
}

.socialProofElement_description {
  color: var(--gray-600);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.containerCTA {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: 1280px;
  align-items: center;
  gap: 5em;
}

.rightContent {
  display: flex;
  width: 640px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.costumerLogos {
  display: flex;
  width: 1440px;
  padding: 3em;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  border-top: 1px solid var(--gray-700);
  border-bottom: 1px solid var(--gray-700);
  background: var(--gray-800);
}

.costumerLogos .container {
  padding-left: 20%;
}

.headingDesc {
  display: flex;
  width: 672px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.heading {
  color: var(--white);
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 125%;
}

.supportingText {
  color: var(--gray-400);
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  text-align: left;
}

.description {
  color: var(--primary-500);
  text-align: center;
  font-weight: 500;
  line-height: 150%;
}

.card {
  display: flex;
  width: 320px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  color: var(--gray-500);
  text-align: center;
  font-weight: 400;
  line-height: 125%;
}

.CTA {
  display: flex;
  width: 1440px;
  padding: 3em;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.CTA .container {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.cards {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.cardElement {
  padding: 2em;
  gap: 1em;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-800);
}

.headingCTA {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
}

.sumCTA {
  color: var(--white);
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 150%;
}

.leftTextCTA {
  color: var(--gray-400);
  display: inline-block;
  font-weight: 400;
  line-height: 150%;
}

.rightTextCTA {
  color: var(--gray-400);
  text-align: right;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 150%;
}

progress {
  width: 35em;
  border-radius: 2px;
  background: var(--gray-700);
}

.blog {
  display: flex;
  width: 1440px;
  padding: 96px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--gray-700);
  border-bottom: 1px solid var(--gray-700);
  background: var(--gray-800);
}

.blogContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.rowContainer {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.blogColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto 32px auto;
}

.blogColumnElement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 0 0;
}

.blogColumnElement_right {
  padding-right: 32px;
}

.titleBlog {
  color: var(--white);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 175%;
}

.previewBlog {
  color: var(--gray-400);
  font-size: 1em;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

td {
  padding: 1em;
  width: 400px;
}

.contact {
  display: flex;
  width: 1440px;
  padding: 96px 0px;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  background: var(--gray-900);
}

.contactContainer {
  display: flex;
  width: 1280px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.contactForm {
  display: flex;
  width: 640px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  color: var(--white);
}

.contactLabel {
  color: var(--white);
  font-size: 0.9em;
  font-weight: 500;
  line-height: 150%;
}

.contactInput {
  display: flex;
  width: 45em;
  padding: 1em 1em;
  align-items: center;
  gap: 1em;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-600);
  background: var(--gray-700);
}

.footer {
  padding: 32px 16px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: center;
}

.footerElement {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footerElement_text {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 400;
  line-height: 150%;
  list-style: none;
}

.footerColumnLink {
  color: var(--gray-400);
  text-decoration: none;
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  html {
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
  }

  .navbarElements {
    display: none;
  }

  .navbarLogin {
    display: none;
  }

  h1 .heading {
    max-width: 480px;
    margin: 0 auto;
    gap: 10px;
  }

  .leftContent {
    max-width: 480px;
    margin: 0 auto;
  }

  .socialProof {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
  }

  .containerCTA > .row img {
    display: none;
  }

  .toggleMenu img {
    display: flex;
    align-items: right;
    max-width: 480px;
  }

  .hiro {
    max-width: 480px;
    margin: 0 auto;
  }

  .hiroButtons {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hiro .leftContent {
    max-width: 480px;
    margin: 0 auto;
  }

  .hiro .heading {
    font-size: 3em;
    line-height: 30px;
  }

  .socialProof {
    max-width: 480px;
    margin: 0 auto;
    gap: 2em;
  }

  .containerCTA {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .row {
    max-width: 480px;
    flex-direction: column;
  }

  .rightContent {
    max-width: 480px;
    margin: 0 auto;
  }

  .costumerLogos > .container {
    padding-left: 0%;
  }

  .CTA {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
  }

  .CTA .container {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .rightTextCTA {
    color: var(--gray-400);
    text-align: right;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 150%;
  }

  .cards {
    max-width: 480px;
    margin: 0 auto;
    display: grid;
  }

  .blogContainer {
    display: none;
  }

  .contactContainer {
    max-width: 480px;
    margin: 0 auto;
  }

  .contactForm {
    max-width: 480px;
    margin: 0 auto;
  }

  .footer {
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  html {
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
  }

  .navbarElements {
    display: none;
  }

  .navbarLogin {
    display: none;
  }

  h1 .heading {
    max-width: 1024px;
    margin: 0 auto;
    gap: 10px;
  }

  .leftContent {
    max-width: 1024px;
    margin: 0 auto;
  }

  .socialProof {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
  }

  .containerCTA > .row img {
    display: none;
  }

  .toggleMenu img {
    display: flex;
    align-items: right;
    max-width: 1024px;
  }

  .hiro {
    max-width: 1024px;
    margin: 0 auto;
  }

  .hiroButtons {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hiro .leftContent {
    max-width: 1024px;
    margin: 0 auto;
  }

  .hiro .heading {
    font-size: 3em;
    line-height: 30px;
  }

  .socialProof {
    max-width: 1024px;
    margin: 0 auto;
    gap: 2em;
  }

  .containerCTA {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .row {
    max-width: 1024px;
    flex-direction: column;
  }

  .rightContent {
    max-width: 1024px;
    margin: 0 auto;
  }

  .costumerLogos > .container {
    padding-left: 0%;
  }

  .CTA {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
  }

  .CTA .container {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .rightTextCTA {
    color: var(--gray-400);
    text-align: right;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 150%;
  }

  .cards {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
  }

  .contactContainer {
    max-width: 1024px;
    margin: 0 auto;
  }

  .contactForm {
    max-width: 1024px;
    margin: 0 auto;
  }

  .footer {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
  }
}
